.card-item{
    text-align: center;
}
.card-img-top{
    width : 50% !important;
    height : 50% !important;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}
.catalog-card{
    padding-top: 0rem;
    padding-bottom: 3rem;
    padding-left: 0;
    padding-right: 0; 
    margin: 0;
}
.card-title {
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .2rem;
}
.glove-align {
    text-align: left !important;
}
.no-pad {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0px;
    border: 0 !important;
    display: block;
    width: 100% !important;
}
.disabled:focus {
    outline: none;
}
.disabled:hover {
    color: rbga(0,0,0,0);
}