.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

#nav {
  width: 100%;
}

#nav-container {
  display: flex;
  justify-content: flex-end;
}

#nav-container > a {
  padding: 20px;
}

#content {
  width: 100%;
}
.navbar-brand,
#navbar-brand {
  font-family: eater;
}

#content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.parallax {
  /* The image used */
  background-image: url("%PUBLIC_URL%/public/images/bgnd.jpeg");
  /* Set a specific height */
  min-height: 1000px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-brand,
#navbar-brand {
  font-family: eater;
  font-size: 26px;
}

nav#navbar:after {
  display: block;
  height: 56px;
}

.after-navbar{
  height: 56px;
}

.nav-link {
  font-family: creepster;
  font-size: 18px;
  color: rgb(255, 166, 0) !important;
}
.nav-link:hover {
  color: yellow !important;
}
.nav-link:active {
  color: red !important;
}

#navbar-userinfo-btn,
#navbar-logout-btn {
  display: none;
}
body {
  background-color: rgba(0, 0, 0, 0.5);
  /*background: linear-gradient(#333, black) ; */
}
.form-group input,
.btn-outline-light {
  margin-right: 4px;
}

#pagination-detail {
  text-align: center;
  font-size: 0.7em;
  color: #333;
}

#pagination-controls {
  padding-top: 25px;
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  margin: 0 auto;
}

#pagination-controls > div {
  font-weight: bold;
}

.disabled-control {
  color: #aaa;
}
.container {
  text-align: justify;
  margin-left: 0;
  margin-right: 0;
}
.form-group input,
.form-group button {
  border: 1px solid rgb(255, 166, 0);
  color: rgb(255, 166, 0);
}
#login-from-nav-btn:hover {
  background: rgb(255, 166, 0) !important;
}
#mainTitle {
  text-shadow: 1px 2px 2px rgb(255, 166, 0);
}

.bodysuits {
  position: absolute;
  top: 10px;
  left: 0.3%;
  z-index: 1;
}

.masks {
  position: absolute;
  top: 10px;
  left: 0.3%;
  z-index: 2;
}

.gloves {
  position: absolute;
  top: 10px;
  left: 0.3%;
  z-index: 3;
}

.col-lg-6 {
  border-left: 1px solid black;
  height: 100%;
}
#display-id {
  text-align: center;
}
#right-col {
  border: 20px solid rgba(0,0,0,.125);
  background: rgba(255,255,255, 0.9) !important;
  border-radius: 6px;
  min-height: 560px;
}
.hot-card  {
  margin-bottom: 8px;
  border: 2px solid rgb(0,0,0,0.125)!important;
  background: rgb(0,0,0,0.125) !important;
}

#items-of-hot {
  color: black;
  text-shadow: 1px 1px 2px rgb(255, 166, 0);
  font-weight: bold !important;
  text-align:center !important;
}
#hot-card-div * {
  text-align: center !important;
}
#hot-card-button {
  text-align: center !important;
  text-shadow: 2px 1px 2px rgb(255, 166, 0);
}
#home-main-title {  
  text-shadow: 2px 1px 1px rgb(255, 166, 0) !important;
}

/* Sign up page styles below */
#sign-up-div button {
  background: rgb(255, 166, 0);
  border: 1px solid black;
}
#sign-up-div input {
  border: 1px solid rgb(255, 166, 0) !important;
}

#notfound {
  position: relative;
  height: 100vh;
  background-color: #282c34;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 460px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.notfound .notfound-404 {
  line-height: 153px;
}

.notfound .notfound-404 h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
  font-size: 220px;
  letter-spacing: 10px;
  margin: 0px;
  font-weight: 700;
  text-shadow: 2px 2px 0px #c9c9c9, -2px -2px 0px #c9c9c9;
}

.notfound .notfound-404 h1>span {
  text-shadow: 2px 2px 0px #ffab00, -2px -2px 0px #ffab00, 0px 0px 8px #ff8700;
}

.notfound p {
  font-family: 'Josefin Sans', sans-serif;
  color: #c9c9c9;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 15px;
}

.notfound a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  color: #c9c9c9;
  border: 2px solid #c9c9c9;
  display: inline-block;
  padding: 10px 25px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #ffab00;
  border-color: #ffab00;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 122px;
    line-height: 122px;
    overflow: hidden;
  }

  .notfound .notfound-404 h1 {
      font-size: 122px;
  }
}

.hot-card-content {
  text-align: left !important;
  font-weight: bold;
}
